html {
  // Transition
  --transition: all 0.2s ease-in-out;
  //  Fonts
  --font-main: "Gilroy";
  //	Colors
  --bg-main: rgba(18, 24, 46, 1);
  --text-color: #121212;
  --gray: #b6b6b6;
  --gray-second: #e6e6e6;
  --red: #e31a5a;
  --green: #0ea774;
  --link: #000aff;
  --pink: #fce8ef;
}
